<strong><%= event.name %></strong>
<p>Time: <%= event.date.strftime('%c') %> </p>
<p>Location: <%= event.location %></p>
<% if user_signed_in? %>
  <% if current_user.name == event.creator.name%>
    <p><i>Created by you</i></p>
  <% else %>
     <p><i>Created by: <%= event.creator.name %></i></p>
  <% end %>
<% else %>
  <p><i>Created by: <%= event.creator.name %></i></p>
<% end %>

<% unless event.id.nil? %>
  <p><%= link_to "More information about the event...", event %></p>
<% end %>

