<ul>
  <% @event.errors.full_messages.each do |msg| %>
  <li>
    <%= msg %>
  </li>
  <% end %>
</ul>


<%= form_with model: @event do |form| %>
  <%= form.label :name, "Name:" %><br/>
  <%= form.text_field :name %><br/>
  <%= form.label :info, "Information:" %><br/>
  <%= form.text_area :info %><br/>
  <%= form.label :date, "Time:" %><br/>
  <%= form.datetime_field :date %><br/>
  <%= form.label :location, "Location:" %><br/>
  <%= form.text_field :location %><br/>
  <%= form.hidden_field :creator_id, value: current_user.id %>
  <%= form.submit "Create Event" %>
<% end %>
